/* Geral */
* {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav ul {
    display: flex;
    gap: 1rem;
}

header button {
    border-style: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 16px;
}

header button:hover {
    background-color: rgb(168, 168, 168);
}

/* Corpo */
main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

/* Home page */
.Home {
    background-color: brown;
    margin-top: -8rem;
    padding: 2rem 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Home ul button {
    width: 100%;
    border-style: none;
    background-color: aqua;
    border-radius: 10px;
    padding: 6px 10px;
    font-weight: 600;
}

/* Pagina de Contas */
.acount {
    flex-direction: column;
    background-color: brown;
    margin-top: -8rem;
    padding: 2rem 0;
    width: 300px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.AcountContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.AcountContainer label input {
    width: 100%;
    height: 25px;
    border-style: 50px;
}

.AcountBtns {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1rem;
}

/* Pagina de categorias */
.categories {
    flex-direction: column;
    background-color: brown;
    margin-top: -8rem;
    padding: 2rem 0;
    width: 300px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.CategoriesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.CategoriesContainer label input {
    width: 100%;
    height: 25px;
}

.CategoriesBtns {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1rem;
}

/* Pagina de transações */
.transactions {
    flex-direction: column;
    background-color: brown;
    margin-top: -8rem;
    padding: 2rem 0;
    width: 300px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.TransactionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.TransactionsContainer label input {
    width: 100%;
    height: 20px;
}

.TransactionsType {
    display: flex;
}

.LabelType {
    display: flex;
    justify-content: center;
}

.TransactionsBtn {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.LabelType {
    display: flex;
    flex-direction: column;
}